output_visualizer/
start_ispin/
converter/
spin_tool/data/*
!spin_tool/data/.gitkeep

spin_tool/output/*
!spin_tool/output/.gitkeep

spin_tool/profiles/*
!spin_tool/profiles/.gitkeep

spin_tool/testing/*